<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板演示</title>
</head>
<body>
    {% include 'nav.html' %}
    <ul>
        <li>变量:{{ abc }}</li>
        <!--不存在的变量不报错,返回为空-->
        <li>不存在的变量:{{ aa }}</li>
        <li>列表:{{ arr }}</li>
        <!--不使用括号,列表字典全部用.来代替-->
        <li>列表取值:{{ arr.1 }}</li>
        <li>字典:{{ nav }}</li>
        <li>字典取值:{{ nav.a }}</li>
        <!--就一把的注释还是会解析,如果被注释的部分有错执行还是会报错,使用comment则不会被解析-->
        {% comment %}
        <li>注释</li>
        {% endcomment %}
        <!--使用|来应用过滤器-->
        <li>过滤器:{{ abc|upper }}</li>
        <li>{{ arr|join:'*' }}</li>
        <!--只是纯粹的输出不会被解析,按原字符输出,这样可以防止攻击-->
        <li>{{ shtml }}</li>
        <!--使用safe过滤则会解析字符串-->
        <li>{{ shtml|safe }}</li>
        <!--自定义的过滤器和标签需要先使用模板语法导入再使用-->
        {% load pagetag %}
        <li>自定义过滤器:{{ abc|mmk_up }}</li>
        <li>自定义标签:{% jia 1 2 %}</li>
    </ul>
    <div style="height:200px;background:red"></div>
</body>
</html>